%h1
  Vendors
%p
  = paginate @vendors
  = link_to 'New Vendor', '#new_vendor', :class => 'inline'

#vendors
  = render @vendors

%div{ :style => "display:none"}
  #new_vendor
    = render 'new', :vendor => @vendor
